@font-face {
    font-family:"Lobster";
    src: url("..//fontes/Lobster-Regular.ttf") format("truetype");
}

@font-face {
    font-family:"Varela Round";
    src: url("..//fontes/VarelaRound-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* font-family: 'Varela Round', sans-serif; */
}
header{
    background-image: linear-gradient(#00000033,#00000028),url('../img/fundo_head.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 99vh;
    width: 100vw;
    max-width: 100vw;
    
}
main
{
    overflow-x: hidden;
}
.cover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
45deg
, #188d63, #1b538df0);
    mix-blend-mode: overlay;
}
ul.menu
{
    font-family: 'arial',sans-serif;
    border: 0px solid red;
    margin-right: 2%;
    display: flex;
    align-items: center;
}

ul.menu>li
{
    list-style: none;
    display: inline;
}

ul.menu>li>a
{
    padding: 20px 24px;
    font-size: 2em;
    transition: .5s;
    text-decoration: none;
    color:#fcfcfc;
    text-shadow: 1px 1px 5px #000;
    font-family: 'Lobster', cursive;
}

ul.menu li a:hover
{
    background-color: #137283;
}


nav.sticky ul.menu li a{
    color: #000;
    text-shadow: 1px 1px 1px transparent;
}

nav.sticky ul.menu li a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px transparent;
}

nav.sticky #titulo-nav{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px transparent;
}

nav .menu-mobil
{
    background: url(../img/menu.png);
    background-size: cover;
    border: 0px solid red;
    width: 50px;
    height: 50px;
    display: none;
}

#encunciado-head{
    font-size: 2.5rem;
    color: #13a9e0;
    text-shadow: 2px 3px 0px #141414;
    padding: 1%;
    text-align: center;
    font-family: 'Lobster', cursive;
    z-index: 2;
}

/*formulario-margem*/
.formilario-head-margem{
    margin-left: 15vw;
    z-index: 2;
}
.row{
    display:grid;
}

/*nav*/
nav{
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background: transparent;
    position:fixed;
    padding: 13px 0px;
    z-index: 10;
}
nav.sticky {
    background: #fff;
    border-bottom: 1px solid #bbbbbb;
    box-shadow: 1px 1px 6px #575757;
    transition: .5s;
    z-index: 10;
}
nav div {
    margin-top: 1vh;
}
nav #titulo-nav{
    font-size: 2rem;
    margin-left: 4vw;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 2px #464646;
    color: #fff;
}

nav #titulo-nav img {
    width: 2em;
}

nav #titulo-nav span {
    position: absolute;
    top: 31px;
}
nav #telefone-nav{
    font-size: 2rem;
    margin-right: 4vw;
    padding-top: 22px;
    color: #ee550e;
    text-shadow: 1px 1px 2px #464646;
}

.menu-mobil-list
{
    visibility: hidden;
    margin: 0;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.menu-mobil-list ul
{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 10vh;
   
}

.menu-mobil-list ul li a
{
border: 1px solid red;
text-decoration: none;
}


.texto-em-branco-head{
    padding-left: 2vw;
    padding-top: 36vh;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:2em;
    text-shadow: 2px 2px 4px #070707;
    z-index:3;
}
.texto-em-branco-head span
{
    color: red;
    font-size: 4rem;
}
/*fim nav*/
/* flex grid */

.row2 
{
    display:flex;
}
.crescer-coluna
{
    flex-direction: column;
}
.centralizar-texto{
    text-align: center;
}
.centralizar{
    align-items: center;
    justify-content: center;
}
.card-centralizar{
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.card-centralizar img{
    width: 95%;
    max-width: 95%;
    max-height:173px;
    height:173px;
    margin: 0 auto;
    justify-content: center;
}
/*texto h2 cbecalho*/
.titulo-principal{
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 4px #000;
    font-size: 2.7em;
}
.col2{}

.col2-1
{
    width: 10vw;
}

.col2-2
{
    width: 20vw;
}

.col2-3
{
    width: 30vw;
}

.col2-4
{
    width: 40vw;
}

.col2-5
{
    width: 50vw;
}
.col2-6
{
    width: 60vw;
}
.col2-7
{
    width: 70vw;
}
.col2-8
{
    width: 80vw;
}

.pd-1{
    padding: 5px;
}
.pd-2{
    padding: 10px;
}
.pd-3{
    padding: 15px;
}
.pd-4{
    padding: 20px;
}
.pd-5{
    padding: 25px;
}

.m-1{
    margin: 5px;
}
.m-2{
    margin: 10px;
}
.m-3{
    margin: 15px;
}
.m-4{
    margin: 20px;
}
.m-5{
    margin: 25px;
}

.mb-1{
    margin-bottom: 5vh;
}
.mb-2{
    margin-bottom: 10vh;
}
.mb-3{
    margin-bottom: 20vh;
}
.mb-4{
    margin-bottom: 30vh;
}
.mb-5{
    margin-bottom: 40vh;
}

.mt-1{
    margin-top: 10vh;
}
.mt-2{
    margin-top: 20vh;
}
.mt-3{
    margin-top: 30vh;
}
.mt-4{
    margin-top: 40vh;
}
.mt-5{
    margin-top: 50vh;
}

.mr-1{
    margin-right: 10vw;
}
.mr-2{
    margin-right: 20vw;
}
.mr-3{
    margin-right: 30vw;
}
.mr-4{
    margin-right: 40vw;
}
.mr-5{
    margin-right: 50vw;
}

.ml-1{
    margin-left: 10vw;
}
.ml-2{
    margin-left: 20vw;
}
.ml-3{
    margin-left: 30vw;
}
.ml-4{
    margin-left: 40vw;
}
.ml-5{
    margin-left: 50vw;
}

.marcardor {
    border: 1px solid #17a58d;
}
.texto-grosso
{
    font-weight: 700;
}
/*Fim Flex Grid*/
/*form*/
input[type=text]{
    width:100%;
    padding:12px 12px;
    box-sizing: border-box;
    margin-bottom: 1vh;
    border:1px solid #9bc5ce;
    border-radius:0.25rem;
    transition:all 0.2s;
}

input[type=text]:hover{
    border:1px solid #000000;
}


.text-area {
    width: 100%;
    padding:12px 12px;
    box-sizing: border-box;
    margin-bottom: 1vh;
}

.text-area {
    width: 100%;
    padding:12px 12px;
    box-sizing: border-box;
    margin-bottom: 1vh;
    border:1px solid #9bc5ce;
    border-radius:0.25rem;
    transition:all 0.2s;
}
.text-area:hover {
    border:1px solid #000000;
    
}

/*botoes*/
/*fim botoes*/
    /*primary*/
    .btn {
        width: 100%;
        padding:12px 12px;
        box-sizing: border-box;
        margin-bottom: 1vh;
    }
    .btn-danger{
        border: 1px solid #f0550d;
        background-color: #d16e1c;
        color: #fff;
        transition: .2s;
        font-size:1.4em;
        border-radius: 1.5rem;
    }
    .btn-danger:hover {
        border: 1px solid #ee550e;
        background-color: transparent;
        color: #ffffff;
        text-shadow: 1px 1px 15px #c1c0c0;
        border-radius: 1.5rem;
    }

    .btn {
        width: 100%;
        padding:12px 12px;
        box-sizing: border-box;
        margin-bottom: 1vh;
    }
    .btn-primary{
        border: 1px solid #00008b;
        background-color: #1a1ab3;
        border-radius: 1.5rem;
        color: rgb(250, 250, 250);
        transition: 0.2s;
        font-size: 1.2em;
        font-family: sans-serif;
        letter-spacing: 11px;
        padding: 15px;
        /* box-shadow: 0 18px 50px #01014e; */
    }
    .btn-primary:hover {
        border: 1px solid #030380;
        background-color: transparent;
        color:#141468;
        box-shadow: 0 2px 13px #01014e;
    }

    .btn-info{
        border: 1px solid #00008b;
        background-color: #1a1ab3;
        border-radius: 1.5rem;
        color: rgb(250, 250, 250);
        transition: 0.2s;
        font-size:0.75rem;
    }
    .btn-info:hover {
        border: 3px solid #01014e;
        background-color: #ffffff;
        color:#141468;
    }   
/*fim form*/
 .m-1{
    margin: 1vw;
}
.m-2{
    margin: 1.50vw;
}
.m-3{
    margin: 2vw;
}
.m-4{
    margin: 2.5vw;
}
.m-5{
    margin: 3vw;
}

.end-start{
    justify-content:end;
}

.center {
    justify-content: center;
    grid-template-columns: auto auto auto;
}

.conteiner_principais_servicos {
    font-family: sans-serif;
}

.conteiner_principais_servicos h4 {
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 1.3em;
}

.conteiner_principais_servicos p {
    font-size: 1.2em;
}

.conteiner_principais_servicos .cards {
    display: flex;
    justify-content: space-evenly;
}

.conteiner_principais_servicos .card-centralizar
 {
    box-shadow: 1px 1px 10px #ccc;
}


.conteiner_principais_servicos .center > div{
    padding: 2vw;
    padding-bottom: 3vh;
    width:10vw;
    height: 25vh;
    text-align: center;
    box-shadow: 1px 1px 10px #ccc;
}

.icone-topo img{
    top: 22.7vh;
}

.titulo-destaque {
    color:#000000;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 4px #ffffff;
    font-size: 3em;
}
/*testemunho*/
.card-testemunho
{
    border: 1px solid #b6b5b5;
    box-shadow: 1px 7px 11px #ccc;
}

.card-testemunho p {
    font-family: sans-serif;
    font-style: italic;
}

.posicionamento-cards-evenly
{
    display: flex;
    justify-content: space-evenly;
}

.assinatura-testemunha
{
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 10%;
    padding-bottom: 10%;
}
/*imagem testemunhos*/
.img-testemunho {
    border-radius: 50%;
    margin-bottom: 1vh;
}

/*imagem fim testemunhos*/
/*inicio aspas*/
.aspas 
{
    color: #f7b308;
    font-size: 2.7rem;
}
/*final aspas*/
/*lista*/
.lista{
    list-style: none;
    padding: 2vh;
}
.lista li{
    padding: 10px;
 
}

/**/
.topo-lista{
    margin-top: -20vh;
}

.conteiner_principais_servicos
{
    padding-top: 20vh;
    padding-bottom: 20vh;
    /* height:70vh; */
    width:100vw;
    background-color:#f3efef;
}

.conteiner-servicos{
    height:90vh;
    width:100vw;
    background-color:#31b99c;
}


.conteiner-quem-e-voce {
    padding-top: 10vh;
    padding-bottom: 10vh;
    width:100vw;
    color:#fff;
    text-shadow: 1px 1px 2px #141414;
    background-image: linear-gradient(#000000a8,#00000093),url('../img/q_01.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.conteiner-quem-e-voce p {
    font-size: 2.6em;
}

#titulo-quem-sou {
    font-size: 3em;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px rgb(66, 66, 66) ;
}

.conteiner-testemunhos{
    padding-top: 20vh;
    padding-bottom: 20vh;
    width:100vw;
    background-color:#f3f3f3;
}
.conteiner-testemunhos img{
    height: 150px;
    width: 150px;
}

.conteiner-contato-endereco{
    padding-top: 20vh;
    padding-bottom: 20vh;
    max-height:90vh;
    width:100vw;
    background-color:#b08cb8;
}

.conteiner-rodape{
    padding-top: 25vh;
    padding-bottom: 25vh;
    max-height:90vh;
    width:100vw;
    background-color:#202322;
    color:#fff;
}

.conteiner-rodape .coluna-rodape
{
    align-items: center;
    flex-direction: column;
}

.conteiner-rodape .coluna-rodape .titulo-rodape
{
    font-family: 'Lobster';
    font-size: 3em;
}

.conteiner-rodape .coluna-rodape .titulo-rodape img
{
    width: 1em;
    filter: invert(1);
}

.conteiner-rodape .coluna-rodape li
{
    list-style: none;
    display: inline;
}

.conteiner-rodape .coluna-rodape .lista-icone-sociais {
    padding-top: 2%;
    width: 21vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.conteiner-rodape .coluna-rodape .lista-icone-sociais img{
    filter: grayscale(1);
    width: 2em;
    transition: .5s;
}

.conteiner-rodape .coluna-rodape .lista-icone-sociais img:hover{
    filter: grayscale(0);
}


.conteiner-rodape .coluna-rodape .lista-secoes  
{
    padding-top: 10%;
    padding-bottom: 10%;
}

.conteiner-rodape .coluna-rodape .lista-secoes li:hover
{
    border-bottom: 1px solid #fff;
    padding-bottom: 3%;
    transition: .5s;
}

.conteiner-rodape .coluna-rodape .lista-secoes  a
{
    padding: 10px 21px;
}

.conteiner-rodape .coluna-rodape .lista-endereco li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: .7em;
}

.conteiner-rodape .coluna-rodape .lista-endereco li a{
    color: #616261;
    cursor: default;
}

.conteiner-rodape .coluna-rodape li a
{
    text-decoration: none;
    color:#fff;
    font-size: 2em;
    
}



.conteiner-fundo{
    color:#3a3a3a;
    background-color:#1a1b1b;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.link-propaganda-rodape
{
    color:#505050;
    text-decoration: none;
    
    
}
.link-propaganda-rodape:hover
{
    color:#505050;
    
}
/*lista rodapé*/
.lista-rodape{
    /* display: inline-block; */
    padding: 3vw;
}
/*fim */
/* table e movel */
@media only screen and (max-width: 768px) {
    nav .menu-mobil
    {
        display: block;
        margin-right: 10%;
        
    }
    nav .sticky.menu-mobil
    {
        display: block;
        margin-right: 10%;

    }
    nav .menu{
        display: none;
    }
    #titulo-quem-sou
    {
        font-size: 2em;
    }
}

@media only screen and (max-width: 425px) {
    body
    {

    }
    .row2{

        flex-direction: column;
        flex-wrap: wrap;

    }
    header{
        background-attachment: initial;
    }
    section{
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }
    
    nav
    {
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;    
    }
    nav #titulo-nav
    {
      width:50vw;
    }
    
    nav #titulo-nav span
    {
        font-size: .9em;
    }

    nav #telefone-nav{
      display:none;
    }
    
    nav #telefone-nav{
     flex-wrap: wrap;
     margin: 3rem;
    }
    .texto-em-branco-head{
        display:none;
    }
    .formilario-head-margem {
        margin-left: 7vw;
        /* z-index: 2; */
        width: 89vw !important;
    }

    .conteiner_principais_servicos{
        height: auto;
    }

    .conteiner_principais_servicos .col2-2{
        width: 90vw;
    }

    .conteiner-quem-e-voce .col2-2{
        width: 90vw;
    }

    .conteiner-testemunhos .col2-2{
        width: 90vw;
    }

    .conteiner-rodape {
        padding-top: 5vh;
        padding-bottom: 5vh;
        text-align: center;
    }
    .conteiner-rodape .row2{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .conteiner-rodape .col2-2{
        width: 100vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .conteiner-rodape .col2-3{
        width: 100vw;
    }
    .topo-lista{
        margin-top: 0vh;
    }
    .conteiner-fundo .col2-2{
        width: 100vw;
        text-align: center;
    }
    /*novos ajustes*/
    #titulo-quem-sou
    {
        font-size: 2em;
    }

    .conteiner-quem-e-voce p
    {
        font-size: 2.1em;
    }
    .col2-3{
        width: 51vw;
    }
    .posicionamento-cards-evenly
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .card-testemunho
    {
        width: 71vw !important;
        margin-bottom: 4vh !important;
    }
    
    .conteiner-rodape .coluna-rodape li {
        display: block;
    }
    .conteiner-rodape .coluna-rodape li a {
        font-size: 1.8em;
    }

    .conteiner-rodape .coluna-rodape .lista-icone-sociais a{
        padding: 15%;
    }
    /*texto*/
    .texto-em-branco-head
    {
        padding-top: 17vh;
        display: block;
        width: 75vw;
    }
    .texto-em-branco-head p
    {
        font-size: .7em;    
    }
    
    .texto-em-branco-head span {
        color: red;
        font-size: .9em;
    }
    .titulo-principal
    {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 320px){
    nav #titulo-nav span {
        font-size: 0.6em;
        padding-top: 1vh;
    }
}
/* fim table e movel */